{% extends "index.html" %}

{% block content %}
<div>
  <h1>Sign up here!</h1>
  <form method="POST">
    {{form.hidden_tag()}}
    {{form.username.label(class="form-control-label")}}
    {{form.username(class="form-control form-control-lg")}}<br>
    {{form.email.label(class="form-control-label")}}
    {{form.email(class="form-control form-control-lg")}}<br>
    {{form.password.label(class="form-control-label")}}
    {{form.password(class="form-control form-control-lg")}}<br>
    {{form.confirm.label(class="form-control-label")}}
    {{form.confirm(class="form-control form-control-lg")}}<br>
    {{form.submit(class="btn btn-info")}}
  </form>
</div>

{% endblock %}